body {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  background: #101015;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}
